
/* CSS Document */

/* 
    Created on   : 07/06/2018.
    Theme Name   : Conis.
    Description  : Conis - Business And Finance HTML Template
    Version      : 1.0.
    Author       : @CreativeGigs.
    Developed by : Jubayer al hasan. (jubayer.hasan1991@gmail.com)
   
*/

/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */
/*   01 - Global stlye  */
/*   02 - Theme Title  */
/*   03 - Theme Pagination  */
/*   04 - Theme Header */
/*   05 - Theme menu */
/*   06 - Theme Main Banner  */
/*   07 - Top Feature  */
/*   08 - Our Service  */
/*   09 - Feature Banner  */
/*   10 - Testimonial Slider  */
/*   11 - Latest Update  */
/*   12 - Footer  */
/*   13 - Theme Inner Banner  */
/*   14 - About Us  */
/*   15 - Our Team   */
/*   16 - Testimonial Slider Two */
/*   17 - Service Details  */
/*   18 - Our Portfolio  */
/*   19 - Portfolio Details  */
/*   20 - Our Blog  */
/*   21 - Blog Details  */
/*   22 - Conatct US  */
/*   23 - Popular Faq  */
/*   24 - Theme Error Page  */



/**
* Importing necessary  Styles.
**/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:200,300,400,500,600,700');
/*----bootstrap css ----- */
@import url('../vendor/bootstrap/css/bootstrap.min.css');
/*----camera-slider---*/
@import url('../vendor/Camera-master/css/camera.css');
/*------- Mega menu ------*/
@import url('../vendor/bootstrap-mega-menu/css/menu.css');
/*----font awesome -------*/
@import url('../fonts/font-awesome/css/font-awesome.min.css');
/*----owl-carousel css----*/
@import url('../vendor/owl-carousel/owl.carousel.css');
@import url('../vendor/owl-carousel/owl.theme.css');
/*-------- animated css ------*/
@import url('../vendor/WOW-master/css/libs/animate.css');
/*--------- flat-icon ---------*/
@import url('../fonts/icon/font/flaticon.css');
/*----------- Fancybox css -------*/
@import url('../vendor/fancybox/dist/jquery.fancybox.min.css');
/*------------- Map -------------*/
@import url('../vendor/sanzzy-map/dist/snazzy-info-window.min.css');
/*----Language Switcher---*/
@import url('../vendor/language-switcher/polyglot-language-switcher.css');


/*** 

====================================================================
  Loading Transition
====================================================================

 ***/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: #fff;
  overflow: hidden;
}
#loader {
  background: url(../images/1.gif);
  width: 64px;
  height: 64px;
  position: relative;
  top: 50%;
  margin: -32px auto 0 auto;
}

/*==================== Click Top ====================*/
.scroll-top {
  width:25px;
  height:25px;
  position: fixed;
  bottom: 10px;
  right: 5px;
  z-index: 99;
  text-align: center;
  color: #fff;
  background: #1455a6;
  font-size: 20px;
  display: none;
  cursor: pointer;
  border-radius: 3px;
}
.scroll-top:after {
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 1;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}
/*______________________ Global stlye ___________________*/

 @font-face {
  font-family: 'font-awesome';
  src: url('../fonts/font-awesome/fonts/fontawesome-webfont.ttf');
  src: url('../fonts/font-awesome/fonts/fontawesome-webfont.eot'), /* IE9 Compat Modes */
       url('../fonts/font-awesome/fonts/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/font-awesome/fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/font-awesome/fonts/fontawesome-webfont.svg') format('svg'); /* Legacy iOS */
 }

 body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color:rgba(9,9,19,0.65);
  font-size: 17px;
  position: relative;
 }
 h1,h2,h3,h4,h5,h6,p,ul { margin:0;padding: 0;}
 h2,h3,h4,h5,h6 {color: #1b222d;font-weight: normal;}
 h1 {font-size: 70px;line-height: 85px;font-weight: 700;}
 h2 {font-size: 40px; font-weight: 600;}
 h3 {font-size: 28px;}
 h4 {font-size: 22px;}
 h5 {font-size: 20px;}
 h6 {font-size: 18px;}
 p {line-height: 30px;}
 ul {list-style-type: none;}
 a {text-decoration: none; display: inline-block; font-family: 'Poppins', sans-serif;}
 a:hover,a:focus,a:visited {text-decoration: none; outline: none;}
 img {max-width: 100%; display: block;}
 button {border:none;outline: none;-webkit-box-shadow: none;box-shadow: none;display: block; padding: 0;cursor: pointer;}
 button:focus {outline: none;}
 input,textarea {outline: none; -webkit-box-shadow: none; box-shadow: none;-webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.m-top0 {margin-top: 0 !important;}
.m-bottom0 {margin-bottom: 0 !important;}
.p-bottm0 {padding-bottom: 0 !important;}
.no-border {border: none !important;}
/*--------------------- Transition --------------------*/
.tran3s,.social-icon li a,#mega-menu-wrapper .nav>li>a,.main-page-wrapper,#searchWrapper,.our-service .single-service,.our-service .single-service .text h4 a,.work-progress .single-figure h4 a,
.why-choose-us .single-block>a,.why-choose-us .single-block h4 a,.latest-update .single-update-post h4 a,.theme-title a,.main-menu-wrapper .right-widget .search-option form button,
.theme-footer .footer-bottom-wrapper .phone-number,.theme-footer .footer-bottom-wrapper .footer-list ul li a,#searchWrapper #close-button:before,
#searchWrapper #close-button:after,.why-choose-us.style-two .single-block,.our-team .single-team-member .image-box .opacity ul li a,
.our-team .single-team-member .image-box .opacity,.owl-theme .owl-dots .owl-dot span,.service-details .box-wrapper .title .loan,
.mixitUp-menu ul li:before,.mixitUp-menu ul li,.our-portfolio .single-item .image-box .overlay,.our-portfolio .single-item .image-box .overlay .link,
.our-portfolio .single-item .text h4 a,.our-portfolio .single-item .image-box .overlay-text:before,.theme-pagination ul li a,body .theme-button,
.our-portfolio .single-item .image-box .overlay-text:after,.our-portfolio .single-item .image-box .overlay-text h4 a,.our-blog .blog-post .read-more,
.blog-sidebar .blog-categories ul li a,.blog-sidebar .sidebar-recent-post li a,.blog-sidebar .sidebar-keyword ul li a,.our-blog .blog-post .title a,
.blog-details .share-option ul li a,.blog-details .public-comment-area .comment button,.popular-faq .faq-panel .panel-group .panel-heading a:before,
.error-page a,.owl-theme .owl-nav [class*=owl-],#mega-menu-wrapper .nav>li.search-button button,.theme-main-header .top-header .right-widget>li a,
.our-service-two .single-service,.our-portfolio .all-project-button a,.consultation-form .phone-call,.consultation-form .form-wrapper .form-button  {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.tran4s,.why-choose-us .single-block img,.our-team .single-team-member .image-box .opacity ul li,
.our-portfolio .single-item .image-box .img,.our-blog .blog-post .image img,.latest-update .single-update-post .image-box img  {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
 /*----------------------- Theme Color File -------------------*/
.p-color,#mega-menu-wrapper .nav>li.dropdown-holder .sub-menu li:hover>a,.theme-main-header .top-header .left-widget .social-icon li a:hover,
.top-feature .single-feature .text h4 a,.our-service .single-service .text h4 a,.work-progress .single-figure h4 a,.loan-section .loan-confirm-form h2,.loan-section .loan-confirm-form h3,
.why-choose-us .single-block h4 a,.theme-footer .footer-bottom-wrapper .mail-address:hover,.theme-footer .footer-bottom-wrapper .phone-number:hover,.mixitUp-menu ul li.active,
.theme-footer .footer-bottom-wrapper .footer-list ul li a:hover,.theme-footer .copyright-wrapper p a,#searchWrapper form button:hover,.service-details .box-wrapper .title h3,
.why-choose-us.style-two .single-block .icon,.about-us-section .text-wrapper h4,.service-details .box-wrapper .middle-text ul li:before,#theme-main-banner .camera_caption h1,
.our-portfolio .single-item .text h4 a,.our-blog .blog-post .title a:hover,.blog-sidebar .blog-categories ul li a:hover,.blog-sidebar .sidebar-recent-post li a,
.our-blog .blog-post .read-more,.blog-details .share-option ul.social-icon li a:hover,.blog-details .share-option ul.tags li a:hover,.related-project .owl-theme .owl-nav [class*=owl-]:hover,
.blog-details .public-comment-area .comment button,.portfolio-details .details-text .text-left-side h2,.portfolio-details .details-text .portfolio-info-list li strong,.loan-section .loan-confirm-form p,
.our-service-two .single-service h5:hover a,#mega-menu-wrapper .nav>li.active>a,#mega-menu-wrapper .nav>li:hover>a  {
  color:#1455a6;
}
.p-bg-color,#theme-main-banner .camera_caption a.button-one,.loan-section .loan-confirm-form .apply-button:hover,.main-menu-wrapper .right-widget .search-option form button,
.theme-title a:hover,.theme-footer .subscribe-form input[type="submit"],#searchWrapper #close-button:hover:before,#searchWrapper #close-button:hover:after,
.get-loan-form form input[type="submit"]:hover,.our-team .single-team-member .image-box .opacity ul li a,.service-details .box-wrapper .title .loan:hover,
.mixitUp-menu ul li:before,.our-portfolio .single-item .image-box .link:hover,.theme-pagination ul li a:hover,.blog-details .mark-text:before,
.theme-pagination ul li.active a,.blog-sidebar .sidebar-keyword ul li a:hover,.our-blog .blog-post .read-more:hover,.blog-details .comment-form form input[type="submit"],
.form-styl-two input[type="submit"],.faq-form form input[type="submit"],.error-page a,.theme-title h2:before,body .theme-button,.our-portfolio .all-project-button a:hover,
.testimonial-section .owl-theme .owl-dots .owl-dot.active span,.testimonial-section .owl-theme .owl-dots .owl-dot:hover span,.consultation-form .form-wrapper .form-button {
  background: #1455a6;
}
#theme-main-banner .camera_caption a.button-one,.work-progress .single-figure .count:before,.theme-pagination ul li a:hover,.theme-pagination ul li.active a,
.blog-sidebar .sidebar-search form input:focus,.blog-sidebar .sidebar-keyword ul li a:hover,.our-blog .blog-post .read-more:hover,.our-portfolio .all-project-button a:hover,
.testimonial-section .owl-theme .owl-dots .owl-dot.active span,.testimonial-section .owl-theme .owl-dots .owl-dot:hover span {
  border-style: solid;
  border-color:#1455a6;
}
.s-color,#theme-main-banner .camera_caption h1 span,.theme-menu-wrapper .top-header ul li:first-child a:hover,.top-feature .single-feature:hover .text h4 a,
.our-service .single-service .text .interest,.work-progress .single-figure:hover h4 a,.why-choose-us .single-block>a:hover,.latest-update .single-update-post:hover h4 a,
.home-two-banner #theme-main-banner .camera_caption a.button-two:hover,.home-two-banner #theme-main-banner .camera_caption a.button-one:hover,
.our-portfolio .single-item .text h4 a:hover,.our-portfolio .single-item .image-box .overlay-text h4 a:hover,.blog-sidebar .sidebar-recent-post li a:hover,
.blog-details .public-comment-area .comment button:hover,#theme-main-banner .camera_prev:before,#theme-main-banner .camera_next:before,
.theme-main-header .top-header .right-widget>li a:hover,.consultation-form .phone-call:hover {
  color: #ffcb4c;
}
.s-bg-color,.scroll-top:hover,.theme-main-header .top-header .left-widget .social-icon li a:hover, #theme-main-banner .camera_caption a.button-one:hover,#theme-main-banner .camera_caption a.button-two:hover,.theme-title a,
#watch-video a,.loan-section .loan-confirm-form .apply-button,.theme-main-header .top-header .right-widget>li.quote a,.main-menu-wrapper .right-widget .cart-icon a span,body .theme-button:hover,
.theme-footer .subscribe-form input[type="submit"]:hover,.home-two-banner #theme-main-banner .camera_caption a.button-one,.get-loan-form form input[type="submit"],
.our-team .single-team-member .image-box .opacity ul li:hover a,.client-slider-two.owl-theme .owl-dots .owl-dot.active span,.main-menu-wrapper .right-widget .search-option form button:hover,
.client-slider-two.owl-theme .owl-dots .owl-dot:hover span,.service-details .box-wrapper .title .loan,.our-portfolio .single-item .image-box .overlay-text:before,
.our-portfolio .single-item .image-box .overlay-text:after,.blog-details .comment-form form input[type="submit"]:hover,.blog-details .comment-form form input[type="submit"]:focus,
.contact-us .contact-address ul li a:hover,.popular-faq .faq-panel .panel-group .panel-heading.active-panel a:before,.faq-form form input[type="submit"]:hover,.error-page a:hover,
.consultation-form .form-wrapper .form-button:hover,.latest-update .theme-title a:hover {
  background: #ffcb4c;
}
#theme-main-banner .camera_caption a.button-one:hover,#theme-main-banner .camera_caption a.button-two:hover,.home-two-banner #theme-main-banner .camera_caption a.button-one,
#theme-main-video-slider#theme-main-banner .camera_caption a.button-two:hover,.client-slider-two.owl-theme .owl-dots .owl-dot.active span,.latest-update .theme-title a:hover,
.client-slider-two.owl-theme .owl-dots .owl-dot:hover span,.contact-us .contact-address ul li a:hover,.popular-faq .faq-panel .panel-group .panel-heading.active-panel a:before {
  border-style: solid;
  border-color:#ffcb4c;
}
/*----------------- Theme Button ---------------*/
body .theme-button {
  line-height: 50px;
  padding: 0 30px;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
}
/*------------------- Theme Title ------------------*/
.theme-title {position: relative;}
.theme-title h2 {
  font-size: 45px;
  font-weight: 600;
  line-height: 60px;
  position: relative;
  padding-bottom: 18px;
}
.theme-title h2:before {
  content: '';
  width: 50px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left:0;
}
.theme-title.text-center h2:before {left:50%;margin-left: -25px;}
.theme-title p {font-size: 20px;margin-top: 25px;}
.theme-title h6 {
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(0,0,0,0.3);
  margin-bottom: 10px;
}
.theme-title a {
  line-height: 50px;
  padding: 0 30px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  position: absolute;
  top:46px;
  right: 0;
  letter-spacing: 1px;
}
/*------------------- Theme Pagination ------------------*/
.theme-pagination ul {padding-top: 40px;}
.theme-pagination ul,.theme-pagination ul li {display: inline-block;}
.theme-pagination ul li a {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  color: #d7d7d7;
  padding: 4px 17px;
  border: 1px solid rgba(226,226,226,0.5);
  margin: 0 3px;
}
.theme-pagination ul li a:hover,
.theme-pagination ul li.active a {color: #fff;}
.theme-pagination ul li.active a {cursor: default;}
/*--------------------------- Theme Header ---------------------*/
.theme-main-header .top-header {background: #104587;}
.theme-main-header .top-header .left-widget>li {display: inline-block;line-height: 45px;vertical-align: middle;}
.theme-main-header .top-header .left-widget .social-icon li {
  float: left;
  width: 50px;
  text-align: center;
  border-right: 1px solid rgba(255,255,255,0.12);
}
.theme-main-header .top-header .left-widget .social-icon li:first-child {border-left: 1px solid rgba(255,255,255,0.12);}
.theme-main-header .top-header .left-widget .social-icon li a {
  display: block;
  font-size: 15px;
  color: rgba(255,255,255,0.5);
}
#polyglotLanguageSwitcher {margin-left:15px;line-height: 45px;}
#polyglotLanguageSwitcher span.trigger:before {
  content: '';
  font-family: 'font-awesome';
  position: absolute;
  color:#fff;
  top:0;
  right:-32px;
}
#polyglotLanguageSwitcher a {
  font-family: 'Open Sans', sans-serif;
  display: block;
  font-size: 15px;
  color:#fff;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 0;
  padding-bottom: 0;
}
.theme-main-header .top-header .right-widget>li {float:left;line-height: 45px;}
.theme-main-header .top-header .right-widget>li a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: rgba(255,255,255,0.8);
  position: relative;
  padding: 0 25px 0 45px;
  border-left: 1px solid rgba(255,255,255,0.12);
  display: block;
}
.theme-main-header .top-header .right-widget>li a i {
  position: absolute;
  line-height: 45px;
  top:0;
  left:20px;
  font-size: 14px;
}
.theme-main-header .top-header .right-widget>li.quote a {
  font-family: 'Poppins', sans-serif;
  padding: 0 28px;
  text-align: center;
  color: #010101;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
/*------------------------------ Theme menu ----------------------*/
.main-menu-wrapper {position: relative;}
.main-menu-wrapper .container {position: relative;}
.main-menu-wrapper .logo {margin-top: 33px;}
.main-menu-wrapper .right-widget>ul>li {line-height: 108px;display: inline-block;}
.main-menu-wrapper .right-widget .cart-icon a {
  position: relative;
  color: #383838;
  font-size: 18px;
  margin-right: 12px;
}
.main-menu-wrapper .right-widget .cart-icon a span {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
  font-size: 11px;
  font-weight: 600;
  color: #555555;
  top: 52px;
  right: -13px;
}
.main-menu-wrapper .right-widget .search-option .dropdown-toggle {
  background: transparent;
  color: #383838;
  font-size: 18px;
  margin: 0 18px 0 20px;
}
.main-menu-wrapper .right-widget .search-option .dropdown-toggle:after {display: none;}
.main-menu-wrapper .right-widget .search-option .dropdown-menu {
  -webkit-transform:none !important;
          transform:none !important;
  position: absolute;
  height:55px;
  width:280px;
  padding: 5px;
  border-radius: 0;
  right: 0 !important;
  left:auto !important;
  top:100% !important;
  box-shadow: none;
  border:none;
  float:none;
  margin:0;
  background: #fff;
  box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.23);
}
.main-menu-wrapper .right-widget .search-option form input {
  position: absolute;
  top:5px;
  left:5px;
  right: 5px;
  bottom: 5px;
  background: transparent;
  border:1px solid #ececec;
  padding: 0 49px 0 10px;
}
.main-menu-wrapper .right-widget .search-option form button {
  display: block;
  width:48px;
  color:#fff;
  border:1px solid #fff;
  border-left:none;
  line-height: 45px;
  text-align: center;
  position: absolute;
  top:4px;
  right:5px;
}
/*================= Sticky Menu ===============*/
@-webkit-keyframes menu_sticky {
  0%  {margin-top:-120px;opacity: 0;}
  50%  {margin-top: -64px;opacity: 0;}
  100% {margin-top: 0;opacity: 1;}
}
@keyframes menu_sticky {
  0%  {margin-top:-120px;opacity: 0;}
  50%  {margin-top: -64px;opacity: 0;}
  100% {margin-top: 0;opacity: 1;}
}
.main-menu-wrapper.fixed {
  position: fixed !important;
  width:100%;
  top:0;
  left:0;
  z-index: 999;
  background: #fff;
  padding-top: 0;
  -webkit-box-shadow: 0px 13px 35px -12px rgba(35,35,35,0.15);
    box-shadow: 0px 13px 35px -12px rgba(35,35,35,0.15);
  -webkit-animation: menu_sticky 0.7s ease-in-out;
  animation: menu_sticky 0.7s ease-in-out;
}
/*---------------------------- Theme Main Banner -------------------------*/
.camera_wrap {float:none;}
#theme-main-banner .camera_overlayer {
  content: '';
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  background: transparent;
}
#theme-main-banner.banner-two .camera_overlayer {background: rgba(0,73,164,0.9);}
#theme-main-banner .main-container {position: relative;}
#theme-main-banner .camera_caption {height: 100%;}
#theme-main-banner .container {
  position: relative;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
#theme-main-banner .camera_caption>div {
  background: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  text-shadow: none;
  left: 0;
  padding: 0;
}
#theme-main-banner .camera_prev,#theme-main-banner .camera_next  {background: transparent;}
#theme-main-banner .camera_prev span,#theme-main-banner .camera_next span {display: none;}
#theme-main-banner .camera_prev:before,#theme-main-banner .camera_next:before {
  font-family: 'font-awesome';
  position: absolute;
  line-height: 40px;
  width: 100%;
  font-size: 35px;
  text-align: center;
}
#theme-main-banner .camera_prev:before {content: '';}
#theme-main-banner .camera_next:before {content: '';}
#theme-main-banner .camera_caption p {
  font-size: 22px;
  line-height: 35px;
  color: rgba(0,0,0,0.6);
  padding: 25px 0 30px 0;
}
#theme-main-banner .camera_caption a {
  line-height: 51px;
  border-width: 2px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #29293f;
  padding: 0 30px;
  margin-top: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#theme-main-banner .camera_caption a.button-one {margin-right: 18px;}
#theme-main-banner .camera_caption a.button-one,
#theme-main-banner .camera_caption a.button-two:hover {color: #fff;}
#theme-main-banner .camera_caption a.button-two {border-color: rgba(0,0,0,0.06);border-style: solid;}

/*--------------------------------- Top Feature -------------------------*/
.top-feature {border-bottom: 1px solid rgba(0,0,0,0.05);margin-bottom: 120px;}
.top-feature .single-feature .text {padding-left: 25px;}
.top-feature .single-feature .text h4 a {font-weight: 500;margin-top: 5px;}
.top-feature .single-feature {padding: 50px 0;}
.top-feature .single-feature:hover img {
  -webkit-transform:scale(1.1);
          transform:scale(1.1);
}
/*------------------------ Our Service ------------------------*/
.our-service .theme-title {padding-bottom: 90px;}
.service-inner-page {padding-bottom: 80px;}
.our-service .single-service .image-box {overflow: hidden;background: #1e315d;}
.our-service .single-service .image-box img {
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.our-service .single-service:hover .image-box img {
  opacity: 0.8;
  -webkit-transform:scale3D(1.1,1.1,1);
          transform:scale3D(1.1,1.1,1);
}
.our-service .single-service:hover {
  -webkit-box-shadow: 0px 0px 56px 14px rgba(64, 74, 105, 0.05);
          box-shadow: 0px 0px 56px 14px rgba(64, 74, 105, 0.05);
}
.our-service .single-service .text {
  background: #fff;
  text-align: center;
  padding: 45px 15px 45px 15px;
  margin-bottom: 40px;
}
.our-service .single-service .text h4 a {
  display: block;
  font-weight: 600;
  line-height: 32px;
}
.our-service.service-inner-page .single-service .text h4 a {font-size: 24px;}
.our-service .single-service .text p {font-size: 16px;margin-top: 20px;}
.our-service .single-service .icon img {margin: 0 auto;}
.our-service .single-service .icon {padding-top: 65px;}
/*------------------------ Our Service Two ------------------------*/
.our-service-two .theme-title {padding-bottom: 70px;}
.our-service-two .single-service {
  border:1px solid #e3e3e3;
  padding:40px 20px 40px 45px;
  margin-bottom: 30px;
}
.our-service-two .single-service:hover {
  border-color: #fff;
  -webkit-box-shadow: 0px 0px 56px 14px rgba(64, 74, 105, 0.05);
          box-shadow: 0px 0px 56px 14px rgba(64, 74, 105, 0.05);
}
.our-service-two .single-service i {font-size: 55px;color: #7991ae;}
.our-service-two .single-service h5 a {font-weight: 500;margin: 20px 0 15px 0;color: #292c32;}
.our-service-two .single-service p {font-size: 15px;line-height: 28px;}
/*------------------------ About Home Section --------------------------*/
.home-about-section {margin: 40px 0 125px 0;}
.home-about-section>.float-left {width: 50%;}
.home-about-section .left-side {
  background: url(../images/home/2.jpg) no-repeat center;
  background-size: cover;
  height: 647px;
}
.home-about-section .right-side .opacity {background: #f6f6f6;}
.home-about-section .right-side .opacity .main-content {max-width: 585px;padding: 80px 0 65px 80px;}
.home-about-section .right-side .opacity .main-content h2 {margin-bottom: 40px; }
.home-about-section .right-side .opacity .main-content .name {padding: 50px 0 50px 0;}
.home-about-section .right-side .opacity .main-content .name h5 {font-weight: 600;}
.home-about-section .right-side .opacity .main-content .name p {font-size: 16px;}

/*----------------------- Feature Banner --------------------*/
.feature-banner {margin: 70px 0 120px 0;}
.feature-banner.bg-one {
  background: url(../images/home/1.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.feature-banner .opacity {
  text-align: center;
  padding: 120px 0 80px 0;
}
.feature-banner .overlay-one {background: rgba(20,85,166,0.9);}
.feature-banner .theme-title h2 {color: #fff;margin-bottom: 100px;}
.feature-banner .theme-title h2:before {display: none;}
.feature-banner .single-box h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 8px;
}
.feature-banner .single-box p {color: #fff;font-size: 20px;}
.feature-banner .single-box {padding-bottom: 50px;}

/*--------------------- Testimonial Slider --------------*/
.testimonial-section {background: #f9f9f9;padding: 90px 0 100px 0;}
.testimonial-section .theme-title {padding-bottom: 100px;}
.testimonial-section .author-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.testimonial-section .text {
  width: calc(100% - 160px);
  padding-left: 40px;
}
.testimonial-section .text h5 {font-weight: 600;font-size: 18px;margin-bottom: 3px;}
.testimonial-section .text span {font-size:16px;}
.testimonial-section .text p {
  font-size: 22px;
  line-height: 40px;
  padding: 20px 0 30px 0;
}
.testimonial-section .owl-theme .owl-dots {margin-top: 40px;}
.testimonial-section .owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid #c3cadb;
  margin: 0 4px;
}

/*---------------------------- Consultation Form -----------------------*/
.consultation-form {padding: 115px 0 120px 0;}
.consultation-form .theme-title h2 {font-size: 36px;padding-bottom: 5px; margin-bottom: 40px;}
.consultation-form .call-us {font-size: 16px;padding: 35px 0 5px 0;}
.consultation-form .call-us b {color: #000;}
.consultation-form .phone-call {
  font-weight: 300;
  font-size: 28px;
  color: #000;
}
.consultation-form .form-wrapper {padding-left: 50px;}
.consultation-form .form-wrapper input,
.consultation-form .form-wrapper .form-control {
  width: 100%;
  height: 50px !important;
  border: 1px solid rgba(0,0,0,0.08);
  border-radius: 0;
  padding: 0 20px;
  font-size: 15px;
  margin-bottom: 30px;
  outline: none;
  box-shadow: none;
}
.consultation-form .form-wrapper .form-button {
  width: 100%;
  height: 50px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}
.consultation-form .form-wrapper textarea {
  width: 100%;
  max-width: 100%;
  height: 290px;
  max-height: 290px;
  border: 1px solid rgba(0,0,0,0.08);
  border-radius: 0;
  padding: 20px;
  font-size: 15px;
}

/*---------------------- Latest Update -----------------------*/
.latest-update {background: #191f27;padding: 115px 0 120px 0;}
.latest-update .theme-title h2 {color: #fff;margin-bottom: 70px;}
.latest-update .theme-title h2:before {background: #fff;}
.latest-update .theme-title a {
  line-height: 45px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
}
.latest-update .single-update-post .image-box {overflow: hidden;margin-bottom: 28px;}
.latest-update .single-update-post .image-box img {width: 100%;}
.latest-update .single-update-post:hover .image-box img {
  transform:scale3D(1.1,1.1,1);
}
.latest-update .single-update-post .date {
  font-weight: 300;
  font-size: 18px;
  color: rgba(255,255,255,0.5);
}
.latest-update .single-update-post h4 a {
  font-size: 26px;
  line-height: 42px;
  color: #fff;
  margin: 8px 0 8px 0;
}
.latest-update .single-update-post .read-more {
  font-weight: normal;
  font-size: 25px;
  color: rgba(255,255,255,0.5);
}
/*----------------------- Footer -----------------------*/
.theme-footer .content-wrapper {padding-top: 120px;}
.theme-footer .content-wrapper.border-fix {border-top: 1px solid #e7e7e7;}
.theme-footer h2 {text-align: center;font-weight: 300;margin-bottom: 100px;}
.theme-footer .subscribe-form input[type="text"],
.theme-footer .subscribe-form input[type="email"] {
  width: 100%;
  height: 55px;
  border: 1px solid rgba(0,0,0,0.08);
  padding: 0 15px;
  margin-bottom: 20px;
}
.theme-footer .subscribe-form input[type="submit"] {
  display: block;
  width: 100%;
  height: 55px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  letter-spacing: 1.2px;
}
.theme-footer .subscribe-form {padding-bottom: 100px;}
.theme-footer .footer-bottom-wrapper .mail-address {
  font-weight: 500;
  font-size: 16px;
  color: #222222;
  margin: 25px 0 15px 0;
  display: block;
}
.theme-footer .footer-bottom-wrapper .phone-number {font-size: 20px;color: #bebebe;}
.theme-footer .footer-bottom-wrapper h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.theme-footer .footer-bottom-wrapper .footer-list ul li a {color: #adadad;line-height: 40px;}
.theme-footer .copyright-wrapper p {
  font-family: 'Poppins', sans-serif;
  color: #9c9c9f;
  margin-bottom: 15px;
}
.theme-footer .copyright-wrapper ul {text-align: right;}
.theme-footer .copyright-wrapper ul li {display: inline-block;}
.theme-footer .copyright-wrapper ul li a {
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  margin-left: 5px;
}
.theme-footer .copyright-wrapper ul li:first-child a {background: #1372cf;}
.theme-footer .copyright-wrapper ul li:nth-child(2) a {background: #16baff;}
.theme-footer .copyright-wrapper ul li:nth-child(3) a {background: #ff4f4f;}
.theme-footer .copyright-wrapper {padding: 60px 0 30px 0;}
/*---------------------------- Theme Inner Banner ---------------------*/
.inner-banner {
  background: url(../images/home/inner-banner.jpg) no-repeat center;
  background-size: cover;
  margin-bottom: 130px;
}
.inner-banner .overlay {background: rgba(0,0,0,0.8);padding: 150px 0 150px 0;}
.inner-banner .overlay h2 {
  font-size: 50px;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 25px;
}
.inner-banner .overlay ul {position: relative;padding-left: 70px;}
.inner-banner .overlay ul:before {
  content: '';
  width: 50px;
  height: 1px;
  background: #fff;
  position: absolute;
  left:0;
  top:50%;
  transform:translateY(-50%);
}
.inner-banner .overlay ul li {
  display: inline-block;
  color: #fff;
  margin: 0 2px;
  font-size: 16px;
  text-transform: capitalize;
}
.inner-banner .overlay ul li a {color: #fff;}
/*------------------------ About Us -------------------*/
.about-us-section .title {font-weight: 300;line-height: 60px;text-align: right;}
.about-us-section .text-wrapper h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 15px 0 35px 0;
}
.about-us-section .text-wrapper h5 {
  font-family: 'Poppins', sans-serif;
  line-height: 33px;
  padding-bottom: 30px;
}
.about-us-section .text-wrapper {padding-left: 50px;}
.about-us-section .image-gallery {padding: 100px 0 110px 0;}
.about-us-section .image-gallery img {width: 100%;margin-bottom: 20px;}
/*------------------------ Our Team ------------------------*/
.team-inner-page {padding-bottom: 100px;}
.our-team .theme-title a {top:15px;padding: 0 50px;}
.our-team .theme-title {padding-bottom: 100px;}
.our-team .single-team-member .image-box {
  width: 190px;
  height: 215px;
  overflow: hidden;
  position: relative;
}
.our-team .single-team-member .image-box .opacity {
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(255,255,255,0.8);
  opacity: 0;
}
.our-team .single-team-member:hover .image-box .opacity {opacity: 1;}
.our-team .single-team-member .image-box .opacity ul li a {
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 20.37px 0.63px rgba(43, 43, 43, 0.05);
          box-shadow: 0px 0px 20.37px 0.63px rgba(43, 43, 43, 0.05);
}
.our-team .single-team-member .image-box .opacity ul li {
  position: absolute;
  top: 50%;
  left:50%;
  margin: -19px 0 0 -19px;
  z-index: 5;
  opacity: 0;
  -webkit-transform:translate(0,-0);
          transform:translate(0,-0);
  -webkit-transition-delay:0.1s;
          transition-delay:0.1s;
}
.our-team .single-team-member:hover .image-box .opacity ul li {opacity: 1;}
.our-team .single-team-member:hover .image-box .opacity ul li:first-child {
  -webkit-transform:translate(0,-45px);
          transform:translate(0,-45px);
}
.our-team .single-team-member:hover .image-box .opacity ul li:nth-child(2) {
  -webkit-transform:translate(45px,0);
          transform:translate(45px,0);
}
.our-team .single-team-member:hover .image-box .opacity ul li:nth-child(3) {
  -webkit-transform:translate(0,45px);
          transform:translate(0,45px);
}
.our-team .single-team-member:hover .image-box .opacity ul li:nth-child(4) {
  -webkit-transform:translate(-45px,0);
          transform:translate(-45px,0);
}
.our-team .single-team-member .text-wrapper {
  width: calc(100% - 190px);
  padding-left: 35px;
}
.our-team .single-team-member .text-wrapper h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #303030;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.our-team .single-team-member .text-wrapper p {
  font-style: italic;
  font-size: 18px;
  line-height: 35px;
  padding: 30px 0 20px 0;
}
.our-team .single-team-member {margin-bottom: 70px;}
/*----------------------- Testimonial Slider Two -------------------*/
.testimonial-section-two {padding-bottom: 120px;}
.testimonial-section-two .theme-title {padding-bottom: 75px;}
.testimonial-section-two .main-content-box {
  background: #fff;
  padding: 40px 45px 40px 45px;
  margin-bottom: 50px;
  position: relative;
}
.testimonial-section-two .main-content-box.border-fix {border: 1px solid rgba(0,0,0,0.06);}
.testimonial-section-two .main-content-box p {
  font-size: 20px;
  font-weight: 300;
  line-height: 35px;
  color: #000000;
  margin-bottom: 35px;
}
.testimonial-section-two .main-content-box .name {padding-left: 28px;}
.testimonial-section-two .main-content-box h6 {
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 4px;
}
.testimonial-section-two .main-content-box h6:before {
  content: '';
  width: 20px;
  height: 2px;
  background: #000;
  position: absolute;
  top:9px;
  left: -30px;
}
.testimonial-section-two .main-content-box .fa {
  position: absolute;
  right: 45px;
  bottom: 40px;
  font-size: 40px;
  color: #f2f2f2;
}
.client-slider-two .item {margin: 0 15px;}
.client-slider-two.owl-theme .owl-dots .owl-dot span {border: 2px solid rgba(0,0,0,0.15);}
.testimonial-inner-page {
  background: #f9f9f9;
  padding: 150px 0 100px 0;
}
/*----------------------- Service Details ------------------------*/
.service-details {padding-bottom: 120px;}
.service-details .box-wrapper {padding: 0 75px;}
.service-details .box-wrapper .title h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  font-weight: 600;
  margin-top: 8px;
}
.service-details .box-wrapper .title .loan {
  line-height: 55px;
  padding: 0 35px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.1px;
  color: #fff;
}
.service-details .box-wrapper .title {padding: 65px 0 50px 0;}
.service-details .box-wrapper .top-text h4 {line-height: 40px;padding-bottom: 45px;}
.service-details .box-wrapper .top-text p {font-size: 18px;line-height: 32px;margin-bottom: 30px;}
.service-details .box-wrapper .middle-text {
  border-top: 1px solid rgba(0,0,0,0.06);
  border-bottom: 1px solid rgba(0,0,0,0.06);
  padding: 60px 0 10px 0;
  margin: 50px 0 60px 0;
}
.service-details .box-wrapper .list-box-text h3 {font-size: 32px;font-weight: 600;}
.service-details .box-wrapper .list-box-text>p {font-size: 18px;margin: 20px 0 60px 0;line-height: 32px;}
.service-details .box-wrapper .list-box-text ul li h4 {font-weight: 600;margin-bottom: 15px;}
.service-details .box-wrapper .list-box-text ul li {position: relative;padding: 0 0 55px 40px;}
.service-details .box-wrapper .middle-text ul li:before {
  content: "\f101";
  font-family: Flaticon;
  position: absolute;
  top:-3px;
  left: 0;
  font-size: 25px;
}
.service-details .box-wrapper .list-box-text.bottom-text ul li {padding-left: 0;}
/*--------------------------- Our portfolio --------------------*/
.our-portfolio {padding-bottom: 100px;}
.our-portfolio .theme-title {padding-bottom: 70px;}
.portfolio-grid-v2 {background: #f9f9f9;padding-top: 150px;}
.mixitUp-menu {text-align: center;margin-bottom: 80px;}
.mixitUp-menu ul,.mixitUp-menu ul li {display: inline-block;}
.mixitUp-menu ul {border-bottom: 1px solid rgba(0,0,0,0.05);}
.mixitUp-menu ul li {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #929292;
  position: relative;
  padding: 0 5px 18px 5px;
  margin: 0 14px;
  cursor: pointer;
  letter-spacing: 1px;
}
.mixitUp-menu ul li:before {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  left:0;
  bottom: -1px;
  z-index: 1;
  -webkit-transform:scale(0,1);
          transform:scale(0,1);
}
.mixitUp-menu ul li.active:before {-webkit-transform:scale(1,1);transform:scale(1,1);}
#mixitUp-item .mix {display: none;}
.our-portfolio .single-item .image-box {position: relative;overflow: hidden;}
.our-portfolio .single-item .image-box img {width: 100%;}
.our-portfolio .single-item .image-box .overlay {
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  background: rgba(28,28,28,0.8);
  text-align: center;
  opacity: 0;
}
.our-portfolio .single-item:hover .image-box .overlay {opacity: 1;}
.our-portfolio .single-item .image-box .link {
  display: block;
  width: 40px;
  height: 40px;
  background: #fff;
  line-height: 40px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top:50%;
  margin-top: -20px;
  color: rgba(0,0,0,0.8);
  -webkit-transform:translate(0,15px);
          transform:translate(0,15px);
}
.our-portfolio .single-item .image-box .link:hover {color: #fff;}
.our-portfolio .single-item:hover .image-box .link {-webkit-transform:translate(0,0);transform:translate(0,0);}
.our-portfolio .single-item:hover .image-box .img { 
  -webkit-filter: blur(5px); 
  -moz-filter: blur(5px); 
  -ms-filter: blur(5px); 
  -o-filter: blur(5px); 
  filter: blur(5px);
}
.our-portfolio .single-item .text {
  background: #fff;
  padding: 25px 0 30px 0;
  text-align: center;
}
.our-portfolio .single-item .text h4 a {font-weight:500;margin-bottom: 8px;}
.our-portfolio .single-item .image-box .overlay-text {
  position: absolute;
  display: inline-block;
  top:50%;
  left:50%;
  width:80%;
  -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
}
.our-portfolio .single-item .image-box .overlay-text:before,
.our-portfolio .single-item .image-box .overlay-text:after {
  content: '';
  position: absolute;
  top:0;
  height: 100%;
  width: 1px;
  opacity: 0;
}
.our-portfolio .single-item .image-box .overlay-text:before {left:0;-webkit-transform:translate(-50px,0);transform:translate(-50px,0);}
.our-portfolio .single-item .image-box .overlay-text:after {right: 0;-webkit-transform:translate(50px,0);transform:translate(50px,0);}
.our-portfolio .single-item:hover .image-box .overlay-text:before,
.our-portfolio .single-item:hover .image-box .overlay-text:after {
  -webkit-transform:translate(0,0);
          transform:translate(0,0);
  -webkit-transition-delay:0.2s;
          transition-delay:0.2s;
  opacity: 1;
}
.our-portfolio .single-item .image-box .overlay-text h4 a {color: #fff;margin-bottom: 4px;}
.our-portfolio .single-item .image-box .overlay-text p {text-transform: uppercase;font-size: 14px;color: rgba(255,255,255,0.8);}
.our-portfolio .single-item {margin-bottom: 20px;}
.our-portfolio .all-project-button {text-align: center;margin-top: 40px;}
.our-portfolio .all-project-button  a {
  line-height: 46px;
  font-weight: 500;
  font-size:15px;
  border: 2px solid rgba(0,0,0,0.08);
  color: #000;
  padding: 0 30px;
  text-transform: uppercase;
}
.our-portfolio .all-project-button a:hover {color: #fff;}
/*------------------------------ Portfolio Details --------------------*/
.portfolio-details .details-text {padding: 100px 0;}
.portfolio-details .details-text .text-left-side h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 55px;
}
.portfolio-details .details-text .text-left-side h5 {line-height: 32px;padding: 35px 0 40px 0;}
.portfolio-details .details-text .text-left-side p {font-size: 18px;line-height: 32px;}
.portfolio-details .details-text .portfolio-info-list li {font-size: 18px;line-height: 32px;margin-bottom: 20px;}
.portfolio-details .details-text .portfolio-info-list li strong {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
}
.portfolio-details .details-text .portfolio-info-list ul {border: 1px solid rgba(0,0,0,0.06);padding: 40px 20px 20px 45px;}
/*------------------------------ Related Project --------------------*/
.related-project {background: #f5f5f5;padding: 95px 0 80px 0;}
.related-project-slider .item {margin: 0 15px;}
.related-project h2.title {font-weight: normal;margin-bottom: 45px;}
.related-project .owl-theme .owl-nav [class*=owl-] {
  font-family: 'font-awesome';
  background: transparent;
  padding: 0;
  color: rgba(0,0,0,0.3);
  font-size: 22px;
  margin: 0 6px;
}
.related-project .owl-theme .owl-nav {position: absolute;top:-70px;right: 15px;}
/*---------------------- Our Blog -------------------*/
.our-blog {padding-bottom: 140px;}
.our-blog .blog-post .image {background: #1a1c1b;overflow: hidden;}
.our-blog .blog-post .image img {width: 100%;}
.our-blog .blog-post:hover .image img {opacity: 0.4;}
.our-blog .blog-post .date {color: rgba(0,0,0,0.5); font-size: 18px;margin: 35px 0 10px 0;}
.our-blog .blog-post h4.title {font-size: 24px;}
.our-blog .blog-post h5.title {font-size: 28px;}
.our-blog .blog-post .title {
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: #111111;
  margin-bottom: 20px;
}
.our-blog .blog-post .title a {color: #111111;}
.our-blog .blog-post .read-more {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 30px;
  line-height: 45px;
  border: 1px solid #e6e6e6;
  letter-spacing: 1px;
  margin: 30px 0 30px 0;
}
.our-blog .blog-post .read-more:hover {color: #fff;}
.our-blog .blog-post {margin-bottom: 40px;}
/*------------------- Blog Sidebar -----------------*/
.blog-sidebar .sidebar-box {margin-bottom: 65px;}
.blog-sidebar .sidebar-search form {height: 60px;position: relative;}
.blog-sidebar .sidebar-search form input {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
  border: 1px solid #e6e6e6;
  padding: 0 50px 0 15px;
  font-size: 16px;
}
.blog-sidebar .sidebar-search form button {
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  width: 48px;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  color: rgba(0,0,0,0.4);
}
.blog-sidebar h3 {margin-bottom: 40px;}
.blog-sidebar .blog-categories ul li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0,0,0,0.5);
  margin-bottom: 22px;
  display: block;
}
.blog-sidebar .blog-categories ul li a span {float: right;}
.blog-sidebar .sidebar-recent-post li {border-top: 1px solid rgba(0,0,0,0.06);padding: 13px 0 17px 0;}
.blog-sidebar .sidebar-recent-post li:last-child {border-bottom: 1px solid rgba(0,0,0,0.06);}
.blog-sidebar .sidebar-recent-post li a {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 5px;
}
.blog-sidebar .sidebar-keyword ul {margin: 0 -5px;}
.blog-sidebar .sidebar-keyword ul li {float: left;padding: 0 5px;margin-bottom: 15px;}
.blog-sidebar .sidebar-keyword ul li a {
  line-height: 38px;
  padding: 0 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(0,0,0,0.4);
  border: 1px solid rgba(0,0,0,0.06);
}
.blog-sidebar .sidebar-keyword ul li a:hover {color: #fff;}
/*------------------------- Blog Details -----------------------*/
.blog-details .mark-text {position: relative;padding-left: 80px;margin: 35px 0 40px 0;}
.blog-details .mark-text h2 {
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  font-style: italic;
  margin-bottom: 10px;
}
.blog-details .mark-text span {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #cacaca;
  letter-spacing: 1px;
}
.blog-details .mark-text:before {
  content: '';
  position: absolute;
  width: 3px;
  height: 88%;
  top:11px;
  left:45px;
}
.blog-details .share-option {background: #f9f9f9;padding: 12px 25px;margin-bottom: 100px;}
.blog-details .share-option ul {padding: 5px 0;}
.blog-details .share-option ul li {display: inline-block;font-size: 16px;color: #000;font-weight: 600;}
.blog-details .share-option ul.tags li a {font-family: 'Open Sans', sans-serif;color: #b7b7b7;font-weight: normal;}
.blog-details .share-option ul.social-icon li a {color: #cccccc;font-weight: normal;margin-left: 5px;}
.blog-details .inner-title {font-weight: 300;margin-bottom: 65px;}
.blog-details .public-comment-area img {width: 75px;height: 75px;border-radius: 50%;}
.blog-details .public-comment-area .comment {width: calc(100% - 75px);padding-left: 30px;position: relative;}
.blog-details .public-comment-area .comment h6 {font-family: 'Poppins', sans-serif;font-weight: 600;margin-bottom: 6px;}
.blog-details .public-comment-area .comment span {color: #a5a5a5;}
.blog-details .public-comment-area .comment p {font-weight: 500;margin-top: 20px;}
.blog-details .public-comment-area .comment button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  top:5px;
  right: 0;
  background: transparent;
  cursor: pointer;
}
.blog-details .public-comment-area .single-comment {
  border-bottom: 1px solid rgba(0,0,0,0.06);
  padding-bottom: 52px;
  margin-bottom: 55px;
}
.blog-details .comment-form form input[type="text"],
.blog-details .comment-form form input[type="email"],
.blog-details .comment-form form textarea {
  background: #f9f9f9;
  border:1px solid #f1f1f1;
  width: 100%;
  max-width: 100%;
  margin-bottom: 15px;
  font-size: 15px;
}
.blog-details .comment-form form input[type="text"],
.blog-details .comment-form form input[type="email"] {height: 50px;padding: 0 15px;}
.blog-details .comment-form form textarea {height: 180px;min-height:180px;padding: 15px;}
.blog-details .comment-form form input[type="submit"] {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  width: 195px;
  height: 50px;
  border: none;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top:15px;
}
/*------------------------ Conatct US -------------------------*/
.contact-us-form {padding-right: 70px;}
.form-styl-two input[type="text"],
.form-styl-two input[type="email"],
.form-styl-two textarea {
  font-size: 14px;
  font-weight: 500;
  background: #fff;
  width: 100%;
  max-width: 100%;
  color: rgba(0,0,0,0.5);
  border: 1px solid rgba(30,30,30,0.07);
  margin-bottom: 35px;
  padding: 0 15px;
}
.form-styl-two input[type="text"],.form-styl-two input[type="email"] {height: 55px;}
.form-styl-two textarea {height: 190px;min-height: 190px;padding: 15px;}
.form-styl-two input[type="submit"] {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  width: 190px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 50px;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  cursor: pointer;
}
.form-styl-two input[type="text"]:focus,.form-styl-two input[type="email"]:focus {
  -webkit-box-shadow: 0px 0px 80px 0px rgba(138, 147, 157, 0.09);
  box-shadow: 0px 0px 80px 0px rgba(138, 147, 157, 0.09);
}
.form-styl-two input[type="submit"]:hover {background: #212121;}
.contact-us .contact-address h2 {line-height: 55px;font-size: 38px;margin-top: -15px;}
.contact-us .contact-address p {font-size: 20px; margin: 40px 0 25px 0;}
.contact-us .contact-address>a {font-size: 28px;color: #000;}
.contact-us .contact-address ul li {display: inline-block;margin-top: 30px;}
.contact-us .contact-address ul li a {
  color: #cccccc;
  margin-right: 15px;
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid rgba(0,0,0,0.06);
  border-radius: 50%;
  text-align: center;
}
.contact-us .contact-address ul li a:hover {color: #fff;}
.map-canvas {
  height: 500px;
  width: 100%;
  margin: 150px 0 0 0;
}
.si-content img {margin-bottom: 10px;}
.si-has-border .si-content-wrapper {border: none;}
.si-shadow-wrapper-top {opacity: 0;}
/*======================= Form Validation ===================*/
.alert-wrapper {
  display: none;
  position: fixed;
  width: 100%;
  height:100%;
  background: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
  z-index: 9999999;
}
#success,#error {
  position: relative;
  width:500px;
  height: 100px;
  top: calc(50% - 50px);
  left:calc(50% - 250px);
  background: rgba(0,0,0,0.8);
  text-align: center;
}
#success .wrapper,#error .wrapper {
  display: table;
  width:100%;
  height: 100%;
}
#success .wrapper p,#error .wrapper p{
  display: table-cell;
  vertical-align: middle;
  letter-spacing: 1px;
}
#success p {color: #26ace3;}
#error p {color: #C9182B;}
#error button,
#success button {
  color:#fff;
  width:40px;
  height:40px;
  line-height: 20px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 20px;
}
.form-validation label.error {display: none !important;}
.form-validation input.error,.form-validation textarea.error {border:1px solid #f03838 !important;}
/*-------------------- Popular Faq ---------------------*/
.popular-faq .theme-title p {margin-top: 25px;}
.popular-faq .faq-panel {margin-top: 70px;}
.popular-faq .faq-panel .panel-heading {padding: 0;border-radius: 0;border:none;}
.popular-faq .faq-panel .panel-heading h6 a {
  font-size: 18px;
  font-weight: 500;
  color:#222222;
  padding: 18px 10px 17px 45px;
  display: block;
  position: relative;
}
.popular-faq .faq-panel .panel-group .panel {
  margin: 0 0 15px 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  border:none;
}
.popular-faq .faq-panel .panel-group .panel-body {border:none;padding: 10px 35px 20px 45px;}
.popular-faq .faq-panel .panel-group .panel-heading a:before {
  content: '+';
  font-weight: 300;
  font-size: 18px;
  color: #dfdfdf;
  width: 30px;
  height: 30px;
  border: 2px solid #e9e9e9;
  border-radius: 50%;
  line-height: 26px;
  text-align: center;
  position: absolute;
  left:0;
  top:50%;
  -webkit-transform:translateY(-50%);
          transform:translateY(-50%);
  font-weight: normal;
}
.popular-faq .faq-panel .panel-group .panel-heading.active-panel a:before {content: '-';color:#fff;}
.faq-form {background: #f6f6f6;padding: 110px 0 130px 0; margin-top: 70px;}
.faq-form h2 {text-align: center;margin-bottom: 50px;color: #222222;}
.faq-form form input[type="text"],
.faq-form form input[type="email"],
.faq-form form textarea {
  width: 100%;
  max-width: 100%;
  background: #fff;
  border: 1px solid #eeeeee;
  margin-bottom: 15px;
  font-size: 15px;
}
.faq-form form input[type="text"],.faq-form form input[type="email"] {height: 60px;padding: 0 20px;}
.faq-form form textarea {height: 165px;padding: 20px;}
.faq-form form input[type="submit"] {
  color: #fff;
  display: block;
  margin: 0 auto;
  width: 190px;
  line-height: 50px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.faq-form form input[type="submit"]:hover {color: #fff;}
/* ---------------------------- Theme Error Page  ------------------------*/
.error-page {text-align: center;margin-bottom: 150px;}
.error-page h2 {font-size: 150px;font-weight: 600;color: #2e2e2e;}
.error-page h3 {font-weight: 300;font-size: 42px; margin: 15px 0 30px 0;}
.error-page p {margin-bottom: 41px;}
.error-page a {
  line-height: 55px;
  width:128px;
  color:#fff;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}
.error-page span.or {font-size: 18px;color:#2f2f2f;margin:0 16px;}
.error-page form {
  height:55px;
  width:380px;
  position: relative;
  display: inline-block;
}
.error-page form input {
  padding: 0 58px 0 20px;
  border:1px solid #f0f0f0;
  height: 100%;
  width: 100%;
}
.error-page form button {
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  width: 55px;
  background: transparent;
  font-size: 20px;
  color: #a3a3a3;
}
